<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>

  <a href="lamotte://app/lamotte" target="_system"> Ouverture Application </a>
  <div>............</div>
  <a href="lamotte://app/lamotte/homepage" target="_system"> Ouverture Application Test 2 </a>
  <div>............</div>
  <a href="lamotte://homepage" target="_system"> Ouverture Application test 3</a>
  <div>............</div>
  <a href="lamotte:" target="_system"> Ouverture Application test 4</a>
  <div>............</div>
  <a href="lamotte://" target="_system"> Ouverture Application test 4</a>
  <div>............</div>
  <a href="lamotte://lamotte" target="_system"> Ouverture Application test 4</a>
  <div>............</div>

  <a href="app:"  target="_system" > Ouverture Application test 4</a>
  <div>............</div>
  <a href="app://" target="_system"> Ouverture Application test 4</a>
  <div>............</div>


<a href="geo://" target="_system">Map</a>
<div>............</div>

<a href="geo:" target="_system">Map</a>
<div>............</div>

<a href="geo://app/geo" target="_system">Map</a>
<div>............</div>

<button (click)="openWindow()"> </button>

</ion-content>
